{% extends 'layout/template.html.twig' %}

{% block title %}
<title>Contact Us</title>
{% endblock %}

{% block body %}
<main id="main" class="site-main contact-main">
    <div class="page-title page-title--small align-left" style="background-image: url(images/bg/bg-about.png);">
        <div class="container">
            <div class="page-title__content">
                <h1 class="page-title__name">Contact Us</h1>
                <p class="page-title__slogan">We want to hear from you.</p>
            </div>
        </div>	
    </div><!-- .page-title -->
    <div class="site-content site-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-text">
                        <h2>Our Offices</h2>
                        <div class="contact-box">
                            <h3>London (HQ)</h3>
                            <p>Unit TAP.E, 80 Long Lane, London, SE1 4GT</p>
                            <p>+44 (0)34 5312 3505</p>
                            <a href="#" title="Get Direction">Get Direction</a>
                        </div>
                        <div class="contact-box">
                            <h3>Paris</h3>
                            <p>Station F, 2 Parvis Alan Turing, 8742, Paris France</p>
                            <p>+44 (0)34 5312 3505</p>
                            <a href="#" title="Get Direction">Get Direction</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="contact-form">
                        <h2>Get in touch with us</h2>
                        <form action="#" method="POST" class="form-underline">
                            <div class="field-inline">
                                <div class="field-input">
                                    <input type="text" name="first_name" value="" placeholder="First Name">
                                </div>
                                <div class="field-input">
                                    <input type="text" name="last_name" value="" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="field-input">
                                <input type="email" name="email" value="" placeholder="Email">
                            </div>
                            <div class="field-input">
                                <input type="tel" name="tel" value="" placeholder="Phone Number">
                            </div>
                            <div class="field-textarea">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="field-submit">
                                <input type="submit" value="Send Message" class="btn">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .site-content -->
</main><!-- .site-main -->
{% endblock %}