<footer id="footer" class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="row">
                <div class="col-lg-5">
                    <div class="footer__top__info">
                        <a title="Logo" href="01_index_1.html" class="footer__top__info__logo"><img src="{{ asset('assets/images/assets/logo.png') }}" alt="Golo"></a>
                        <p class="footer__top__info__desc">Discover amazing things to do everywhere you go.</p>
                        <div class="footer__top__info__app">
                            <a title="App Store" href="#" class="banner-apps__download__iphone"><img src="{{ asset('assets/images/assets/app-store.png') }}" alt="App Store"></a>
                            <a title="Google Play" href="#" class="banner-apps__download__android"><img src="{{ asset('assets/images/assets/google-play.png') }}" alt="Google Play"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <aside class="footer__top__nav">
                        <h3>Company</h3>
                        <ul>
                            <li><a title="About Us" href="06_about-us.html">About Us</a></li>
                            <li><a title="Blog" href="07_blog-right-sidebar.html">Blog</a></li>
                            <li><a title="Faqs" href="15_faqs.html">Faqs</a></li>
                            <li><a title="Contact" href="09_contact-us.html">Contact</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="footer__top__nav">
                        <h3>Support</h3>
                        <ul>
                            <li><a title="Get in Touch" href="#">Get in Touch</a></li>
                            <li><a title="Help Center" href="#">Help Center</a></li>
                            <li><a title="Live chat" href="#">Live chat</a></li>
                            <li><a title="How it works" href="#">How it works</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-lg-3">
                    <aside class="footer__top__nav footer__top__nav--contact">
                        <h3>Contact Us</h3>
                        <p>Email: support@domain.com</p>
                        <p>Phone: 1 (00) 832 2342</p>
                        <ul>
                            <li class="facebook">
                                <a title="Facebook" href="#">								
                                    <i class="la la-facebook-f"></i>
                                </a>
                            </li>
                            <li class="twitter">
                                <a title="Twitter" href="#">															
                                    <i class="la la-twitter"></i>
                                </a>
                            </li>
                            <li class="youtube">
                                <a title="Youtube" href="#">								
                                    <i class="la la-youtube"></i>
                                </a>
                            </li>
                            <li class="instagram">
                                <a title="Instagram" href="#">								
                                    <i class="la la-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div><!-- .top-footer -->
        <div class="footer__bottom">
            <p class="footer__bottom__copyright">2020 &copy; <a title="Uxper Team" href="#">uxper.co</a>. All rights reserved.</p>
        </div><!-- .top-footer -->
    </div><!-- .container -->
</footer><!-- site-footer -->